h1{
    background-color: rgb(60, 7, 233);
    background: linear-gradient(to right,red,blue,white,green);

}

.hero{
    background-image: url('../images/joke.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

@keyframes up-down{
    0%{
        transform: translateY(10px);
        
    }
    100%{
        transform: translateY(-10px);
    }
}

.hero_image{
    animation: up-down 3s ease-in-out infinite alternate-reverse;
}

.image_animation{
    transition: all 0.12s ease-in-out;
}
.image_animation:hover

{
    transform: translateY(-10px);
    cursor: pointer;
}


.team_img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border:5px solid blue;
    

}

.service_image{

    height: 90vh;
    object-fit: cover;
}

.custom-tooltip {
  --bs-tooltip-bg: red;
  --bs-tooltip-color: blue;
}

.ho{

    box-shadow:3px 3px  100px red;
    border-radius: 20px;

}