h1{
    background-color: rgb(60, 7, 233);
    background: linear-gradient(to right,red,blue,white,green);

}

.hero{
    background-image: url('../images/joke.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

@keyframes up-down{
    0%{
        transform: translateY(10px);
        
    }
    100%{
        transform: translateY(-10px);
    }
}

.hero_image{
    animation: up-down 3s ease-in-out infinite alternate-reverse;
}